.parent
{
    background-color:lightblue;
    margin-top: 0cqi;
    height: 200vh;    
}
.e1
{
    background-color: red;
    position: relative;
    
}
.e2
{
    background-color: green;
    position: absolute;
    
}
.e3
{
    background-color: yellow;
    position: fixed;
    right: 0%;


}